body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
  background-image: url(./assets/background.png);
}



th {
  width: 120px;
  padding-top:25px;
  padding-bottom:30px;
}

td {
  padding: 5px;
}

.time {
  height: 40px;
}

.Event {
  width: 90%;
  color:rgb(190, 219, 229);
  height: 100%;
  padding: 50px 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  backdrop-filter: blur(5px);
}

.Event h6, h5 {
  line-height: 60px;
  align-content: center;
}

.pink {
  background: pink;
}

.blue {
  background: rgb(190, 219, 229);
}


